@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@700&display=swap");
body {
	margin: 0;
	padding: 0;
}
/* Top NavBar **/
.topBar {
	width: 97%;
	background-color: #2d2d2d;
	margin-top: 0;
	margin: 0;
	padding: 10px 20px;
	border: none;
}
.topBar nav ul {
	list-style-type: none;
	margin: 20px;
}
.topBar nav ul li {
	float: right;
	padding: 20px;
}
.topBar nav ul li a {
	text-decoration: none;
	position: relative;
	top: 13px;
	color: #2d2d2d;
	border: 2px solid #0000;
	padding: 10px;
	margin: 10px;
	background-color: #7d7d7d;
}
.topBar nav ul li a:hover {
	background-color: #a3a3a3;
}
.topBar h1 {
	margin: 0;
	padding: 0;
}
.topBar h1 a {
	color: whitesmoke;
	text-decoration: none;
	transition: ease-in-out 0.5s;
}
.topBar h1 a:hover {
	color: orange;
	transition: ease-in-out 0.5s;
}

/*Blog Area*/
.blogArea {
	width: 95%;
	background-color: #2d2d2d;
	min-height: 50vh;
	padding: 20px;
	margin: 1%;
	float: left;
}

.recentBlogs {
	width: 24%;
	background-color: #2d2d2d;
	margin-top: 1%;
	margin-right: 1%;
	min-height: 50vh;
	float: right;
}

/** Blog*/
.blog {
	background-color: #dbdbdb;
	padding: 20px;
}
.blogTitle {
	font-family: "Anton", sans-serif;
	font-size: 40px;
	color: #2d2d2d;
	height: auto;
	width: 100%;
}
.blogArea p {
	font-family: "Lato", sans-serif;
	padding: 20px;
	color: white;
}
